#contact-list-wrapper {
    height: 100%;
    display: flex;
    flex: 1;
    transition: ease 0.5s;
}
.contact-list {
    overflow-y: scroll;
    height: calc(100vh - 50px);
    padding-bottom: 100px;
}